@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

.bold_link a:hover{

  font-weight:bold;
  text-decoration:none;
  border-bottom:1px solid #ccc;
  
  }

.align_left {
  float: left;
}

.align_right {
  float: right;
}

.banner {
  position: fixed;
  background-color: white;
  width: 100%;
  text-align: right;
}